<!-- {% extends 'base.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="row">
        <h1>You have been logged out</h1>
        <div class="col-md-6">
            <div class="">
                <a  href="#" class="btn-get-started col-lg-6 text-center text-white btn btn-large" style="background-color: red; border-radius: 30px;"
                >Login</a>
            </div>
        </div>
    </div>
</div>
{% endblock %} -->